<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.validate.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/index_js.js" %}"></script>
</head>

<body>
    <div class="header">
        <div class="title">
          <h4>MySite</h4>
        </div>
        <form id="login_form" method="post" action="/connections/login/"
            enctype="multipart/form-data">
            {% csrf_token %}
        <table class="login">
                    <tr>
                        <th>Username:</th>
                        <th>Password:</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" name="login_username" placeholder="Username" aria-describedby="basic-addon1"></td>
                        <td><input type="password" class="form-control" name="login_password" placeholder="Password" aria-describedby="basic-addon1"></td>
                        <td><input type="submit" class="btn btn-success" style="margin-top: auto" value="Login"></td>
                    </tr>
        </table>
        </form>
    </div>
    <div class="main">
        <div class="description">

        </div>
        <div class="register">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form id="user_form" method="post" action="/connections/register/"
            enctype="multipart/form-data">
            {% csrf_token %}
            <h1>New user? Register Here!</h1>  

                    <table class="table-register">

                        <tr>
                            <td>First Name:</td>
                            <td><input type="text" class="form-control" placeholder="First Name" name="firstname" aria-describedby="basic-addon1"></td>
                            <td>Last Name:</td>
                            <td><input type="text" class="form-control" placeholder="Last Name" name="lastname" aria-describedby="basic-addon1"></td>
                        </tr>
                        <tr>
                            <td>Email ID:</td>
                            <td colspan="3"><input type="email" class="form-control" placeholder="Email ID" name="email" aria-describedby="basic-addon1"></td>
                        </tr>
                        <tr>
                            <td>Sex:</td>
                            <td colspan="1">
                                <input type="radio" name="sex" value="M" checked="true" style="width:20px;">Male
                            </td>
                            <td colspan="1">    
                                <input type="radio" name="sex" value="F" style="width:20px;">Female
                                
                            </td>
                        </tr>
                        <tr>
                            <td>Username:</td>
                            <td colspan="3"><input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1"></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td colspan="3"><input type="password" class="form-control" placeholder="Password"
                            id="password" name="password" aria-describedby="basic-addon1"></td>
                        </tr>
                        <tr>
                            <td>Confirm Password:</td>
                            <td colspan="3"><input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" aria-describedby="basic-addon1"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3"><input type="submit" class="btn btn-success" value= "Sign up" style="width:200px;"></td>
                        </tr>
                    </table>
            </form>
        </div>
    </div>
    <div class="footer">
        <h3>a <b>Piyush Golani</b> production</h3>
    </div>

</body>
</html>