{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
{% endblock %}

{% block body_block %}
    <div class="main">
        <div class="left">
            <div class="pic">
                <img src="{% static "images/blank_male.jpg" %}">
            </div>
            <div class="links">
                <ul>
                    <li>General Information</li>
                    <li>Avatar</li>
                    <li>Start up</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <h1>Nikki Lauda</h1>
            <h4 style="color: red;">You are not linked with any start up</h4>
            <button onclick="location.href = '/connections/logout/';"  class="btn btn-danger" >Logout</button>
        </div>
    </div>
{% endblock %}